{% extends 'base.html.twig' %}

{% block title %}OuiFood - Les recipes de recettes{% endblock %}

{% block body %}
    <div class="rw-section rw-container">
        <div class="rw-inner clearfix">
            <!-- Main content -->
            <div class="rw-column rw-content">

                <div class="rw-row page-breadcrumb">
                    <a href="#">Home</a> &raquo; <span>Recettes</span>
                </div>
                <div class="rw-row page-title">
                    <h1>Recettes</h1>
                </div>

                <div class="rw-row">

                    <div class="recipes-list">
                        {% for recipe in recipes %}
                            <!-- Entry -->
                            <div class="recipe clearfix">

                                <div class="recipe-main-info clearfix">
                                    <div class="grid-container">

                                        <div class="entry-photo grid desk-4 alpha">
                                            {% if recipe.image is not null %}
                                                <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.image }}" >
                                            {% else %}
                                                <img src="{{ asset('build/placeholder/food/240x220/11.jpg') }}" alt="" />
                                            {% endif %}
                                        </div>

                                        <div class="grid desk-8 omega">
                                            <div class="entry-title">
                                                <h2><a href="{{ path('view_recipe', {'id': recipe.id}) }}">{{ recipe.name }}</a></h2>
                                            </div>
                                            <div class="entry-controls minimal">
                                                <div class="control"> <i class="fa fa-calendar"></i> </div><span class="control-tip">{{ recipe.createdAt|date }}</span>
                                                {#<a href="#" class="control entry-to-favorites" title="Add to favorites"> <i class="fa fa-heart-o"></i> </a><span class="control-tip">44</span>#}
                                                {#<a href="#" class="control entry-like" title="I like this!"> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">294</span>#}
                                                {#<a href="#" class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </a> <span class="control-tip">2 comments</span>#}
                                                {#<div class="control"> <i class="fa fa-bar-chart"></i> </div> <span class="control-tip">1810 views</span>#}
                                            </div>
                                            <div class="entry-content">
                                                <p>{{ recipe.description }}</p>
                                            </div>
                                            <div class="entry-info-author">
                                                {% if recipe.user.avatar.image is not null %}
                                                    <img src="{{ vich_uploader_asset(recipe.user.avatar, 'imageFile') }}" alt="{{ recipe.user.avatar.image }}" >
                                                {% else %}
                                                    <img src="{{ asset('build/placeholder/food/240x220/11.jpg') }}" alt="" />
                                                {% endif %}
                                                <div class="author-name"><a href="#">{{ recipe.user.username }}</a></div>
                                                {#<div class="total-recipes">220 recipes</div>#}
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                    </div> <!-- .grid-container -->
                                </div>

                                <div class="recipe-info-pointer"><i class="the-icon fa fa-angle-double-left"></i></div>

                                <div class="recipe-info clearfix">
                                    <div class="info ingredients">
                                        <i class="the-icon fa fa-flask"></i>
                                        <span class="type">Contient</span>
                                        <span class="value">{{ recipe.ingredients|length }} ingredients</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>


                            </div> <!-- .entry -->
                            <div class="clear"></div>
                        {% endfor %}

                    </div> <!-- .recipes-list -->

                    {#<div class="recipes-pagination button-block center">#}
                        {#<a class="button small nobg primary" href="#">&larr; Prev</a>#}
                        {#<a class="button small nobg primary" href="#">...</a>#}
                        {#<span class="button small nobg primary current">4</span>#}
                        {#<a class="button small nobg primary" href="#">5</a>#}
                        {#<a class="button small nobg primary" href="#">6</a>#}
                        {#<a class="button small nobg primary" href="#">...</a>#}
                        {#<a class="button small nobg primary" href="#">192</a>#}
                        {#<a class="button small nobg primary" href="#">Next &rarr;</a>#}
                    {#</div>#}


                </div>

            </div>

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->
{% endblock %}