{% extends 'base.html.twig' %}

{% block title %}OuiFood - Recette{% endblock %}

{% block body %}

<div class="rw-container rw-section">
    <div class="rw-inner clearfix">

        <!-- Main content -->
        <div class="rw-column rw-content">

            <div class="rw-row page-breadcrumb">
                <a href="{{ path('home') }}">Home</a> &raquo; <a href="#">Recipes</a> &raquo; <span>{{ recipe.name }}</span>
            </div>
            <div class="rw-row page-title">
                <h1>{{ recipe.name }}</h1>
            </div>

            <div class="rw-row">
                <div class="entry style-columns">
                    <div class="entry-photo single-recipe-photo-cover">
                        {% if recipe.image is not null %}
                            <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.image }}" >
                        {% else %}
                            <img src="{{ asset('build/placeholder/1.jpg') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="entry-content clearfix">

                        <div class="recipe-content">

                            <div class="single-recipe-ingredients">
                                <h3 class="recipe-headlines ingredients first">Ingredients:</h3>
                                <ul>
                                    {% for ingredient in recipe.ingredients %}
                                        <li>
                                            <div class="mark-as-ok"><i class="fa fa-check"></i></div>
                                            <div class="ingredient"><a href="#">{{ ingredient.name }}</a></div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <h3 class="recipe-headlines preparation-mode">Description :</h3>
                            {{ recipe.description|raw }}

                            <h3 class="recipe-headlines preparation-mode">Cooking steps:</h3>
                            {{ recipe.cookingSteps|raw }}
                        </div>

                        <div class="recipe-meta">
                            <ul>
                                <li>
                                    <div class="entry-info-author">

                                        {% if recipe.user.avatar.image is not null %}
                                            <img src="{{ vich_uploader_asset(recipe.user, 'imageFile') }}" alt="{{ recipe.user.avatar.image }}" >
                                        {% else %}
                                            <img src="{{ asset('build/placeholder/people/50x50/5.jpg') }}" alt="" />
                                        {% endif %}
                                        <div class="author-name"><a href="#">{{ recipe.user.username }}</a> </div>
                                        {#<div><a href="#" class="follow-user button mini blue" title="851 followers">#}
                                                {#<i class="fa fa-plus"></i> <span class="text">Follow</span>#}
                                            {#</a></div>#}
                                    </div>
                                </li>
                                <li><i class="the-icon fa fa-calendar" title="Date de soumission"></i> <span>{{ recipe.createdAt|date }}</span></li>
                            </ul>
                        </div>

                    </div> <!-- .entry-content -->
                    <div class="clear"></div>

                </div> <!-- .entry -->
                <div class="clear"></div>


            </div> <!-- .rw-row -->

            <div class="rw-row light border-tb">
            </div> <!-- .rw-row -->

        </div> <!-- .rw-content -->

    </div> <!-- .rw-inner -->
</div> <!-- .rw-container -->
{% endblock %}
