<section id="rw-layout" class="rw-layout">
<!--
    // ===================================^__^=================================== //
Header
// ===================================^__^=================================== //
-->
<div class="rw-section rw-header">
    <div class="rw-inner clearfix">
        <div class="grid-container">

            <div class="grid desk-8 mob-6 alpha clearfix">
                <div class="logo-holder">
                    <img src="{{ asset('build/placeholder/logo.png') }}" class="logo" alt="" />
                </div>
                <nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
                    <ul class="menu horizontal">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('recipe_collection_index') }}">Collections</a></li>
                        <li><a href="{{ path('recipe_index') }}">Recettes</a></li>
                        {% if not app.user %}
                            <li><a href="{{ path('user_registration') }}">Inscription</a></li>
                            <li><a href="{{ path('user_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="grid desk-4 mob-6 omega">
                <nav id="the-user-menu" class="main-menu-nav">
                    <ul class="menu horizontal align-right">

                        <!-- User menu -->
                        {% if app.user %}
                            <li class="to-left-more">
                                <div class="user-details-in-menu">
                                    {% if app.user.avatar.image %}
                                        <a href="#" class="avatar"><img src="{{ vich_uploader_asset(app.user.avatar, 'imageFile') }}" alt="{{ app.user.avatar.image }}" /></a>
                                    {% else %}
                                        <a href="#" class="avatar"><img src="{{ asset('build/placeholder/people/50x50/2.jpg') }}" alt="" /></a>
                                    {% endif %}
                                </div>
                                <ul class="sub-menu">
                                    {% if app.user %}
                                        {% if is_granted('ROLE_ADMIN', app.user) %}
                                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div> <!-- .grid-container -->
    </div> <!-- .rw-inner -->
</div> <!-- .rw-header -->