{% extends 'base.html.twig' %}

{% block title %}OuiFood - Accueil{% endblock %}

{% block body %}
    <div class="rw-container rw-section">
        <div class="rw-inner clearfix">

            <!-- Main content -->
            <div class="rw-column rw-content">

                {% if recipeOfTheDay %}
                    <div class="rw-row subtle large home-recipe-of-the-day">
                        <div class="grid-container">
                            <div class="grid desk-6">
                                <div class="entry-photo">
                                    <div class="badge">Recette à découvrir</div>
                                    {% if recipeOfTheDay.image is not null %}
                                        <img src="{{ vich_uploader_asset(recipeOfTheDay, 'imageFile') }}" alt="{{ recipeOfTheDay.image }}" >
                                    {% else %}
                                        <img src="{{ asset('build/placeholder/food/560x380/21.jpg') }}" alt="" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="grid desk-6">
                                <h3><a href="{{ path('view_recipe', {'id': recipeOfTheDay.id}) }}">{{ recipeOfTheDay.name }}</a></h3>
                                <p>{{ recipeOfTheDay.description }}</p>

                                <div class="clear"></div>

                                <div class="entry-info-author">
                                    {% if recipeOfTheDay.user.avatar.image is not null %}
                                        <img width="80px" height="80px" src="{{ vich_uploader_asset(recipeOfTheDay.user, 'imageFile') }}" alt="{{ recipeOfTheDay.user.avatar.image }}" >
                                    {% else %}
                                        <img src="{{ asset('build/placeholder/people/80x80/21.jpg') }}" alt="" />
                                    {% endif %}
                                    <div class="submited-by">Auteur:</div>
                                    <div class="author-sname"><a href="#">{{ recipeOfTheDay.user.username }}</a> <!-- <span class="mark green" title="Pro member!">Pro</span> --></div>
                                    {#<div class="total-recipes">136 recipes</div>#}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="rw-row subtle large border-tb">

                    <div class="grid-container carousel-container">

                        <div class="grid desk-6 mob-6">
                            <h4 class="carousel-posts-heading">Dernières recettes</h4>
                        </div>
                        <div class="grid desk-6 mob-6">
                            <div class="carousel-posts-nav clearfix">
                                <div class="carousel-posts-nav-next"><i class="fa fa-chevron-right"></i></div>
                                <div class="carousel-posts-nav-prev"><i class="fa fa-chevron-left"></i></div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="home-carousel-posts clearfix">
                            {% for latestRecipe in lastestRecipes %}
                                <!-- Entry -->
                                <div class="entry style-columns">
                                    <div class="entry-photo">
                                        {% if latestRecipe.image is not null %}
                                            <img src="{{ vich_uploader_asset(latestRecipe, 'imageFile') }}" alt="{{ latestRecipe.image }}" >
                                        {% else %}
                                            <img src="{{ asset('build/placeholder/food/350x240/18.jpg') }}" alt="" />
                                        {% endif %}
                                    </div>
                                    <div class="entry-title">
                                        <a href="{{ path('view_recipe', {'id': latestRecipe.id}) }}">{{ latestRecipe.name }}</a>
                                    </div>
                                    <div class="entry-meta">
                                        <span class="date">{{ latestRecipe.createdAt|date }}</span>
                                    </div>
                                    <div class="entry-content">
                                        <p>{{ latestRecipe.description }}</p>
                                    </div>
                                    {#<div class="entry-controls">#}
                                        {#<a href="#" class="control entry-to-favorites" title="Add to favorites"> <i class="fa fa-heart-o"></i> </a><span class="control-tip">24</span>#}
                                        {#<a href="#" class="control entry-like" title="I like this!"> <i class="fa fa-thumbs-o-up"></i> </a> <span class="control-tip">115</span>#}
                                    {#</div>#}
                                </div> <!-- .entry -->
                            {% endfor %}

                        </div> <!-- .home-carousel-posts -->

                    </div>

                </div> <!-- .rw-row -->

                {#<div class="rw-row subtle large border-bottom">#}

                    {#<div class="grid-container">#}

                        {#<div class="grid desk-6">#}
                            {#<h4>From the blog</h4>#}

                            {#<div class="home-blog-post clearfix">#}
                                {#<div class="entry-date">#}
                                    {#<div class="date">14</div>#}
                                    {#<div class="month">August</div>#}
                                {#</div>#}
                                {#<div class="entry-details">#}
                                    {#<div class="entry-title"><a href="#">Curabitur massa tortor, euismod accumsan</a></div>#}
                                    {#<div class="entry-content">#}
                                        {#Quisque in ornare mollis urna, a pharetra lectus bibendum et. Aenean sodales cursus nulla, faucibus tempor nibh porta id...#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="home-blog-post clearfix">#}
                                {#<div class="entry-date">#}
                                    {#<div class="date">27</div>#}
                                    {#<div class="month">July</div>#}
                                {#</div>#}
                                {#<div class="entry-details">#}
                                    {#<div class="entry-title"><a href="#">Veniam quis nostrud exercitation ullamco laboris</a></div>#}
                                    {#<div class="entry-content">#}
                                        {#Quisque in ornare mollis urna, a pharetra lectus bibendum et. Aenean sodales cursus nulla, faucibus tempor nibh porta id...#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="home-blog-post clearfix">#}
                                {#<div class="entry-date">#}
                                    {#<div class="date">15</div>#}
                                    {#<div class="month">April</div>#}
                                {#</div>#}
                                {#<div class="entry-details">#}
                                    {#<div class="entry-title"><a href="#">Phasellus ornare sem quis dui aliquet facilisis</a></div>#}
                                    {#<div class="entry-content">#}
                                        {#Quisque in ornare mollis urna, a pharetra lectus bibendum et. Aenean sodales cursus nulla, faucibus tempor nibh porta id...#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="home-blog-post clearfix">#}
                                {#<div class="entry-date">#}
                                    {#<div class="date">02</div>#}
                                    {#<div class="month">April</div>#}
                                {#</div>#}
                                {#<div class="entry-details">#}
                                    {#<div class="entry-title"><a href="#">Quisque ornare quis dui aliquet facilisis</a></div>#}
                                    {#<div class="entry-content">#}
                                        {#Quisque in ornare mollis urna, a pharetra lectus bibendum et. Aenean sodales cursus nulla, faucibus tempor nibh porta id...#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                        {#</div>#}

                        {#<div class="grid desk-6">#}
                            {#<h4>Public collections</h4>#}
                            {#<div class="home-collections">#}

                                {#<div class="collection clearfix">#}
                                    {#<div class="entry-details">#}
                                        {#<div class="entry-title"><a href="#">Salad recipes</a></div>#}
                                        {#<div class="meta">#}
                                            {#<span class="views">1450 views</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">72 likes</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">2 comments</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="total">#}
                                        {#<span class="number">94</span>#}
                                        {#<span class="text">recipes</span>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="collection clearfix">#}
                                    {#<div class="entry-details">#}
                                        {#<div class="entry-title"><a href="#">Special for summer</a></div>#}
                                        {#<div class="meta">#}
                                            {#<span class="views">1830 views</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">35 likes</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">4 comments</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="total">#}
                                        {#<span class="number">56</span>#}
                                        {#<span class="text">recipes</span>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="collection clearfix">#}
                                    {#<div class="entry-details">#}
                                        {#<div class="entry-title"><a href="#">Excelent hot-dog recipes</a></div>#}
                                        {#<div class="meta">#}
                                            {#<span class="views">1450 views</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">72 likes</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">2 comments</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="total">#}
                                        {#<span class="number">38</span>#}
                                        {#<span class="text">recipes</span>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="collection clearfix">#}
                                    {#<div class="entry-details">#}
                                        {#<div class="entry-title"><a href="#">Traditional european chicken</a></div>#}
                                        {#<div class="meta">#}
                                            {#<span class="views">1450 views</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">72 likes</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">2 comments</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="total">#}
                                        {#<span class="number">86</span>#}
                                        {#<span class="text">recipes</span>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="collection clearfix">#}
                                    {#<div class="entry-details">#}
                                        {#<div class="entry-title"><a href="#">Delicious chicken</a></div>#}
                                        {#<div class="meta">#}
                                            {#<span class="views">1450 views</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">72 likes</span>#}
                                            {#<span class="sep">&bull;</span>#}
                                            {#<span class="likes">2 comments</span>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="total">#}
                                        {#<span class="number">41</span>#}
                                        {#<span class="text">recipes</span>#}
                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                        {#<div class="clear"></div>#}
                    {#</div>#}

                {#</div> <!-- .rw-row -->#}

                {#<div class="rw-row subtle">#}

                    {#<div class="grid-container">#}

                        {#<div class="grid desk-12">#}
                            {#<h4>Top authors</h4>#}
                            {#<div class="home-authors clearfix">#}
                                {#<a href="#" class="author" title="Mark Smith"><img src="{{ asset('bundles/front/placeholder/people/50x50/1.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Mary Hernandez"><img src="{{ asset('bundles/front/placeholder/people/50x50/2.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Tony Anderson"><img src="{{ asset('bundles/front/placeholder/people/50x50/3.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Elizabeth Brown"><img src="{{ asset('bundles/front/placeholder/people/50x50/4.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="John Johnson"><img src="{{ asset('bundles/front/placeholder/people/50x50/5.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Mary Martin"><img src="{{ asset('bundles/front/placeholder/people/50x50/6.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Elizabeth Hill"><img src="{{ asset('bundles/front/placeholder/people/50x50/7.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Anthony Phillips"><img src="{{ asset('bundles/front/placeholder/people/50x50/8.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Anthony Garcia"><img src="{{ asset('bundles/front/placeholder/people/50x50/9.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Paul Lee"><img src="{{ asset('bundles/front/placeholder/people/50x50/10.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Jason Phillips"><img src="{{ asset('bundles/front/placeholder/people/50x50/11.jpg') }}" alt="" /></a>#}
                                {#<a href="#" class="author" title="Ruth Campbell"><img src="{{ asset('bundles/front/placeholder/people/50x50/12.jpg') }}" alt="" /></a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="clear"></div>#}

                    {#</div>#}

                {#</div> <!-- .rw-row -->#}

            </div>

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->
{% endblock %}